<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__ADMIN__/css/base.css" />
<link rel="stylesheet" href="__ADMIN__/css/info-mgt.css" />
<link rel="stylesheet" href="__ADMIN__/css/WdatePicker.css" />
<title>移动办公自动化系统</title>
<style type='text/css'>
	table tr .id{ width:63px; text-align: center;}
	table tr .name{ width:118px; padding-left:17px;}
	table tr .nickname{ width:63px; padding-left:17px;}
	table tr .dept_id{ width:63px; padding-left:13px;}
	table tr .sex{ width:63px; padding-left:13px;}
	table tr .birthday{ width:80px; padding-left:13px;}
	table tr .tel{ width:113px; padding-left:13px;}
	table tr .email{ width:160px; padding-left:13px;}
	table tr .addtime{ width:160px; padding-left:13px;}
	table tr .operate{ padding-left:13px;}
</style>
</head>

<body>
<div class="title"><h2>知识管理</h2></div>
<div class="table-operate ue-clear">
	<a href="__CONTROLLER__/add" class="add">添加</a>
    <a href="javascript:;" class="del">删除</a>
    <a href="javascript:;" class="edit">编辑</a>
    <a href="javascript:;" class="check">审核</a>
</div>
<div class="table-box">
	<table>
    	<thead>
        	<tr>
            	<th class="id">序号</th>
                <th class="name">标题</th>
				<th class="file">缩略图</th>
                <th class="content">内容</th>
                <th class="content">作者</th>
				<th class="addtime">添加时间</th>
                <th class="operate">操作</th>
            </tr>
        </thead>
        <tbody>
        	<volist name='data' id='vo'>
        	<tr>
            	<td class="id">{$vo.id}</td>
                <td class="name">{$vo.title}</td>
				<td class="file"><img src="{$vo.thumb}"/><notempty name='vo.picture'>【<a href='__CONTROLLER__/download/id/{$vo.id}'>下载</a>】</notempty></td>
                <td class="content">{$vo.content|msubstr=0,20}</td>
                <td class="content">{$vo.author}</td>
                <td class="addtime">{$vo.addtime|date='Y-m-d H:i:s',###}</td>
                <td class="operate">
                    <input type="checkbox" value="{$vo.id}"/>
                	<!--a href ='javascript:;'>查看</a-->
                    <a style="text-align: center;" href="__CONTROLLER__/edit/id/{$vo.id}">编辑</a>
                </td>
            </tr>
            </volist>
        </tbody>
    </table>
</div>
<div class="pagination ue-clear">
	<div class="pagin-list">
		<!--{$page}-->
        {$show}
	</div>
	<div class="pxofy">显示第 1 条到 10 条记录，共 {$count} 条记录</div>
</div>
</body>
<script type="text/javascript" src="__ADMIN__/js/jquery.js"></script>
<script type="text/javascript" src="__ADMIN__/js/common.js"></script>
<script type="text/javascript" src="__ADMIN__/js/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/js/jquery.pagination.js"></script>
<script type="text/javascript">
$(".select-title").on("click",function(){
	$(".select-list").hide();
	$(this).siblings($(".select-list")).show();
	return false;
})
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
})

$("tbody").find("tr:odd").css("backgroundColor","#eff6fa");

showRemind('input[type=text], textarea','placeholder');
/*
$('.pagination').pagination(100,{
    callback: function(page){
        alert(page);
    },
    display_msg: true,
    setPageNo: true
});
*/
//jQuery代码
$(function(){
    //给删除按钮绑定点击事件
    $('.del').on('click',function(){
        //事件处理程序
        var idObj = $(':checkbox:checked');	//获取全部已经被选中的checkbox
        var id = '';	//接收处理后的部门id值，组成id1,id2,id3...
        //循环遍历idObj对象，获取其中的每一个值
        for (var i = 0; i < idObj.length; i++) {
            id += idObj[i].value + ',';
        }
        //去掉最后逗号
        id = id.substring(0,id.length - 1);
        //判断id
        if(id == ''){
            return false;
        }
        //带着参数跳转到del方法
        window.location.href = '__CONTROLLER__/del/id/' + id;
    });
});
</script>
</html>
